*{
    margin:0;
    padding:0;
}
:root{
    font-family: "Alice", serif;
    font-weight: 400;
    line-heigth: 150%;
    color:#291B1A;
}

body{
    background-color: #573824;
    background-image: url(assets/bg-image.png);
    background-size: cover;
   
}

#page{
   box-sizing: border-box;
   padding: 24px; 
   whidth: 100%;
   heigth: 100%;
   background-color: #f0e8c2;
   border-radius:24px;
   margin:5% 29%;
}

main{
    padding: 24px;
}

section sectin{
    margin-top:24px
}
p{
    margin-top:12px;
    line-heigth: 140%;
}

#about p + p{
 margin-top:12px;

}

h1{
    line-heigth: 140%;
    font-size:24px;
   
}

h2{
    font-size: 24px;
    margin-top:32px;
}

#cup{
    border-radius: 16px;
    margin-bottom: 4px;
    width: 100%;
    height: auto; /* Para manter a proporção da imagem */
    max-width: 750px; /* Limite máximo de largura */
}
ul{
    margin-left:24px
}
footer{
    text-align:center;
    color:#291B1A;
    padding-bottom: 48px;
}

footer img{
    vertical-align: middle;
    color: #f0e8c2;
}